.redux_wraper{
	padding:0.2rem;
	.testWraper{
		margin:0.2rem;
		border:0.02rem solid #f93;
		padding:0.2rem 0.2rem;
	}
	.sumWraper{
		line-height: 0.5rem;
		span{
			display: inline-block;
			border:1px solid #999;
			padding:0 0.1rem;
			margin:0.1rem;
		}
	}
	ul.redux_ul{
		li{
			line-height:0.45rem;
			font-size:0.24rem;
			margin-top:0.1rem;
		}
	}
}