body{
	background-color:#3f3;
	background-image:url("../images/avator.jpg");
	background-repeat: no-repeat;
	div{
		font-size:20px;
	}
}


.flex{
	display:flex;
	background-color: #f8f8f8;
	height: 300px;
	
}
.flex p{
	flex:1;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	color: #f33;
	background-color: #e8e8e8;
	background-image:url("../images/folder0/b.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}