<!DOCTYPE html>
<html lang="en">
<head>
	 <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content="telephone=no" name="format-detection" />
	<title>{{title}}</title>
	<script>
	    (function() {
	        var deviceWidth = document.documentElement.clientWidth;
	        if(deviceWidth > 750) deviceWidth = 750;
	        document.documentElement.style.fontSize = deviceWidth / 7.5 + 'px';
	    })();
	</script>
	<style>
		#app{background-color: #f1f6ff;}
	</style>
</head>
<body>
	<div id="app"></div>
	<script src="/js/app.min.js"></script>
</body>
</html>